USERS_SERVICE_URL=http://localhost:3330/api/users
TRAININGS_SERVICE_URL=http://localhost:3331/api/trainings
ORDERS_SUBSERVICE_URL=http://localhost:3331/api/orders
REVIEWS_SUBSERVICE_URL=http://localhost:3331/api/reviews
GYMS_SERVICE_URL=http://localhost:3332/api/gyms
NOTIFY_SERVICE_URL=http://localhost:3333/api/notify

PORT=3344
