MONGO_DB=fitfriends-users
MONGO_HOST=localhost
MONGO_PORT=27019
MONGO_USER=admin
MONGO_PASSWORD=test
MONGO_AUTH_BASE=admin

AT_SECRET=at-secret
AT_EXP=7200
RT_SECRET=rt-secret
RT_EXP=86400

PORT=3330
FILES_UPLOAD_FOLDER=/upload-avatars
